<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <title>Earthquake Finder</title>
  </head>
  <body>
  <h1 align = "center"> Welcome to the Earthquake Finder! </h1>
<b> Recent Top 10 Largest Earthquakes </b>
<p> Please be patient while the list loads! </p>
      <div align="center">
      <b> Enter location in searchbox below </b> <br>
      <form method = "GET" action = "{{ url_for('search') }}">
      <input id="address" name="address" type="textbox">
      <input type="submit" value="Search">
      </form>
      </div>


    {% include 'top_earthquakes.html' %}


  </body>
</html>











