<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"  media="screen">
    <title>Earthquake Finder</title>
  </head>
  <body>
  <h1 align = "center"> Welcome to the Earthquake Finder! </h1>
      <div align="center">
      <b> Enter location in searchbox below </b> <br>
      <form method = "GET" action = "{{ url_for('search') }}">
      <input id="address" name="address" type="textbox">
      <input type="submit" value="Search">
      </form>
      </div>



    <div id="map-canvas"></div>

  </body>
</html>











