<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>


    <link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTPTdKwbhALFSvhgZi6Z5rB3KF5LggAo&sensor=false"></script>

    <script>

    //initializing google maps 

    var geocoder;
    var map;
    var url;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      //var latlng = new google.maps.LatLng(-34.397, 150.644);
      var mapOptions = {
        zoom: 3,
        //center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);




      codeAddress();
}

/*
This function uses the google maps api to check if the location entered by the user is valid.  If it is valid, it calls a function to finding the north, south, east, and west cordinates needed to access the GeoNames Recent Earthquakes Webservice data 

*/

    function codeAddress() {
      var address = document.getElementById('location').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);


	  var info = document.getElementById('info');
	  info.innerHTML = '<b> Click on a marker to view more information about an earthquake</b>';

    //function to plot map with earthquakes
    returnResults(results);
        } else {
          alert('Location not found!');
    window.location.href = "/location";
        }
      });
    }

/*
This function uses the earthquake json data to plot a list of earthquakes that occurred around the region specified by the user.  Details such as magnitude, longitude and latitude of an earthquake can be viewed by clicking on the earthquake marker
*/

    function callJSONEarthquake(data)
    {

	console.log(data.earthquakes.length, 'len');

      for(var j = 0; j<data.earthquakes.length; j++)
        {
          var LatLng = new google.maps.LatLng(parseFloat(data.earthquakes[j].lat), parseFloat(data.earthquakes[j].lng));
          var marker = new google.maps.Marker({
          map: map,
          position: LatLng
      		});




	    var contentString = 'Magnitude:' + data.earthquakes[j].magnitude + '<br> Date:' + data.earthquakes[j].datetime + '<br> Latitude:' +     data.earthquakes[j].lat + '<br> Longitude:' + data.earthquakes[j].lng ;
	  

	    var infowindow = new google.maps.InfoWindow()

	    google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
		return function() {
		   infowindow.setContent(contentString);
		   infowindow.open(map,marker);
		};
	    })(marker,contentString,infowindow)); 
 
        }
    }

/*
This function computes the bounding box of the location entered, and uses the results as parameters to load the GeoNames Recent Earthquakes Webservice json data 
*/

    function returnResults(results) {

        var bounds = map.getBounds();
        var lat = results[0].geometry.location.lat();
        var lng = results[0].geometry.location.lng();
        var ne = bounds.getNorthEast();
        var sw = bounds.getSouthWest();
        var east = ne.lng();
        var west = sw.lng();
        var north = ne.lat();
        var south = sw.lat();

	console.log('n', north, 's', south, 'e', east, 'west', west);

        url = "http://api.geonames.org/earthquakesJSON?north=" + north + "&south=" + south + "&east=" + east + "&west=" + west + "&username=isanneh";
        url = url + "&callback=callJSONEarthquake";

        var script = document.createElement('script');
        script.src = url 
        document.getElementsByTagName('head')[0].appendChild(script); 
 
}


    google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>

<b id = "info"></b>



      {% include 'location.html' %}
      <input type ="hidden" id="location" value="{{location}}">
      <div id="map-canvas"></div>


  </body>
</html>











